.Dropdown {
  &-control {
    font-family: $Muller;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 8px 32px 8px 10px;
    font-size: 12px;
  }
}
.white {
  .Dropdown {
    &-control {
      color: #000;
    }
  }
}

.dropdown-select {
  margin: rem(10px) 0;
  .Dropdown {
    &-control {
      color: #000;
      padding: rem(17px) rem(15px);
      font-size: rem(14px);
      border: 1px solid $border;
    }
    &-placeholder {
      margin-right: rem(20px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &-arrow {
      top: calc(50% - 5px / 2);
      background-color: #fff;
    }
    &-menu {
      font-size: rem(14px);
    }
  }
}
