.rc-calendar {
  border-top-right-radius: rem(10px);
  border-bottom-right-radius: rem(10px);
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: rem(920px);
  .react-calendar {
    border: none;
    margin: rem(20px) rem(30px) rem(40px);
    min-width: rem(300px);
    max-width: rem(300px);
    &__month-view__weekdays__weekday {
      font-size: rem(14px);
      color: rgb(193, 193, 193);
      font-weight: bold;
      line-height: 1;
      padding-bottom: rem(5px);
      padding-left: 0;
      abbr {
        text-decoration: none;
      }
    }
    &__navigation__label__labelText {
      font-size: rem(20px);
      color: rgb(113, 113, 113);
      line-height: 1;
    }
    &__tile {
      border: 1px solid #b1b1b1;
      margin-right: -1px;
      margin-top: -1px;
      font-size: rem(14px);
      font-weight: bold;
      &--active {
        background: $brownLight;
        color: #ffffff !important;
        &:enabled:focus {
          background: $brownLight;
        }
        &.bd-danger {
          background-color: #841217 !important;
        }
      }
    }
    &__month-view__days__day--weekend,
    &__month-view__days__day {
      color: rgb(95, 95, 95);
    }
    &__month-view__days__day--neighboringMonth {
      color: rgb(193, 193, 193);
    }
    &__tile--now {
      background: $border;
      &:hover {
        background: $border;
      }
    }
    &__navigation__prev2-button,
    &__navigation__next2-button {
      display: none;
    }
  }
  .courses {
    width: 100%;
    background-color: #fdfdfd;
    border-top-right-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    .course-card {
      border-bottom: 1px solid rgb(205, 205, 205);
      box-shadow: none;
      border-radius: 0;
      max-width: none;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
