@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerUltraLight.eot');
  src: local('Muller UltraLight'), local('MullerUltraLight'),
    url('./fonts/muller/MullerUltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerUltraLight.woff2') format('woff2'),
    url('./fonts/muller/MullerUltraLight.woff') format('woff'),
    url('./fonts/muller/MullerUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerBoldItalic.eot');
  src: local('Muller Bold Italic'), local('MullerBoldItalic'),
    url('./fonts/muller/MullerBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerBoldItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerBoldItalic.woff') format('woff'),
    url('./fonts/muller/MullerBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
    url('./fonts/muller/MullerMedium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/muller/MullerMedium.woff2') format('woff2'),
    url('./fonts/muller/MullerMedium.woff') format('woff'),
    url('./fonts/muller/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerExtraBoldItalic.eot');
  src: local('Muller ExtraBold Italic'), local('MullerExtraBoldItalic'),
    url('./fonts/muller/MullerExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerExtraBoldItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerExtraBoldItalic.woff') format('woff'),
    url('./fonts/muller/MullerExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerUltraLightItalic.eot');
  src: local('Muller UltraLight Italic'), local('MullerUltraLightItalic'),
    url('./fonts/muller/MullerUltraLightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerUltraLightItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerUltraLightItalic.woff') format('woff'),
    url('./fonts/muller/MullerUltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
    url('./fonts/muller/MullerRegular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/muller/MullerRegular.woff2') format('woff2'),
    url('./fonts/muller/MullerRegular.woff') format('woff'),
    url('./fonts/muller/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerBlackItalic.eot');
  src: local('Muller Black Italic'), local('MullerBlackItalic'),
    url('./fonts/muller/MullerBlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerBlackItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerBlackItalic.woff') format('woff'),
    url('./fonts/muller/MullerBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller Hairline';
  src: url('./fonts/muller/MullerHairlineItalic.eot');
  src: local('Muller Hairline Italic'), local('MullerHairlineItalic'),
    url('./fonts/muller/MullerHairlineItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerHairlineItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerHairlineItalic.woff') format('woff'),
    url('./fonts/muller/MullerHairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerHeavyItalic.eot');
  src: local('Muller Heavy Italic'), local('MullerHeavyItalic'),
    url('./fonts/muller/MullerHeavyItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerHeavyItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerHeavyItalic.woff') format('woff'),
    url('./fonts/muller/MullerHeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerThinItalic.eot');
  src: local('Muller Thin Italic'), local('MullerThinItalic'),
    url('./fonts/muller/MullerThinItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerThinItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerThinItalic.woff') format('woff'),
    url('./fonts/muller/MullerThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller Hairline';
  src: url('./fonts/muller/MullerHairline.eot');
  src: local('Muller Hairline'), local('MullerHairline'),
    url('./fonts/muller/MullerHairline.eot?#iefix') format('embedded-opentype'),
    url('./fonts/muller/MullerHairline.woff2') format('woff2'),
    url('./fonts/muller/MullerHairline.woff') format('woff'),
    url('./fonts/muller/MullerHairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerHeavy.eot');
  src: local('Muller Heavy'), local('MullerHeavy'),
    url('./fonts/muller/MullerHeavy.eot?#iefix') format('embedded-opentype'),
    url('./fonts/muller/MullerHeavy.woff2') format('woff2'),
    url('./fonts/muller/MullerHeavy.woff') format('woff'),
    url('./fonts/muller/MullerHeavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerThin.eot');
  src: local('Muller Thin'), local('MullerThin'),
    url('./fonts/muller/MullerThin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/muller/MullerThin.woff2') format('woff2'),
    url('./fonts/muller/MullerThin.woff') format('woff'),
    url('./fonts/muller/MullerThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerLightItalic.eot');
  src: local('Muller Light Italic'), local('MullerLightItalic'),
    url('./fonts/muller/MullerLightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerLightItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerLightItalic.woff') format('woff'),
    url('./fonts/muller/MullerLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
    url('./fonts/muller/MullerLight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/muller/MullerLight.woff2') format('woff2'),
    url('./fonts/muller/MullerLight.woff') format('woff'),
    url('./fonts/muller/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerBlack.eot');
  src: local('Muller Black'), local('MullerBlack'),
    url('./fonts/muller/MullerBlack.eot?#iefix') format('embedded-opentype'),
    url('./fonts/muller/MullerBlack.woff2') format('woff2'),
    url('./fonts/muller/MullerBlack.woff') format('woff'),
    url('./fonts/muller/MullerBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
    url('./fonts/muller/MullerBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/muller/MullerBold.woff2') format('woff2'),
    url('./fonts/muller/MullerBold.woff') format('woff'),
    url('./fonts/muller/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerExtraBold.eot');
  src: local('Muller ExtraBold'), local('MullerExtraBold'),
    url('./fonts/muller/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/muller/MullerExtraBold.woff2') format('woff2'),
    url('./fonts/muller/MullerExtraBold.woff') format('woff'),
    url('./fonts/muller/MullerExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular';
  src: url('./fonts/muller/MullerRegularItalic.eot');
  src: local('Muller Regular Italic'), local('MullerRegularItalic'),
    url('./fonts/muller/MullerRegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerRegularItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerRegularItalic.woff') format('woff'),
    url('./fonts/muller/MullerRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerMediumItalic.eot');
  src: local('Muller Medium Italic'), local('MullerMediumItalic'),
    url('./fonts/muller/MullerMediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/muller/MullerMediumItalic.woff2') format('woff2'),
    url('./fonts/muller/MullerMediumItalic.woff') format('woff'),
    url('./fonts/muller/MullerMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
