//fonts
$Montserrat: 'Montserrat', sans-serif;
$Muller: 'Muller', sans-serif;

//colors
$bluelight: #4c637c;
$blueDark: #242e3a;
$blue: #028de6;
$white: #fff;
$green: #759e83;
$brownLight: #a2a2a2;
$red: #d01018;
$black: #000;
$gray: #555555;
$border: #e1e1e1;
