@keyframes marker_rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes marker_rotating_ccw {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#worldmap {
  position: relative;
  height: 100vh;
  min-height: rem(1050px);
  max-height: 1400px;
  overflow: hidden;
  background-color: #242e3a;
}
#worldmapbg {
  width: 100%;
  height: 100%;
  position: relative;
  background: url('../public/images/map/full-bg.jpg') center no-repeat;
  background-size: cover;
}
#worldmapsvg {
  width: 100%;
  width: auto;
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
}
#worldmapsvg path {
  stroke-width: 0.5px;
  fill: transparent;
  transition: all 300ms ease-in;
  stroke: #fff;
  cursor: pointer;
}

#worldmapsvg path:hover,
#worldmapsvg path.selected {
  fill: rgba(0, 0, 0, 0.5);
  stroke: red;
  transition: none;
}
#worldmapsvg g {
  position: relative;
}
.map__marker {
  border-radius: 50%;
  background: url('../public/images/map/marker.svg') center no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-10px, -10px);
  pointer-events: none;
  transition: all 300ms ease-in;
}
.map__marker:before {
  content: '';
  transition: all 300ms ease-in;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px dashed #fff;
  left: -24.5px;
  top: -24.5px;
  transform: scale(0, 0);
}
.map__marker.selected {
  width: 24px;
  height: 24px;
}
.map__marker.selected:before {
  transform: scale(1, 1);
  animation: marker_rotating 12s linear 300ms infinite;
}
.map__banner {
  position: absolute;
  visibility: hidden;
  transition: opacity 300ms ease-in;
  opacity: 0;
  bottom: 20%;
  right: 10%;
  right: calc((100% - 1460px) / 2);
  z-index: 99;
}
.map__banner.show {
  visibility: visible;
  opacity: 1;
}
.map__banner-line {
  position: absolute;
  width: 100px;
  border-bottom: 1px solid #fff;
  bottom: 30px;
  right: 100%;
}
#map__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#map__line {
  stroke-width: 1px;
  stroke: white;
  opacity: 0;
  transition: all 300ms ease-in;
}
#map__line.show {
  opacity: 1;
}
#worldmapscroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: grab;
  overflow-y: hidden;
}
#worldmapscroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
#worldmapscroll {
  overflow: -moz-scrollbars-none;
}
#worldmapscroll {
  -ms-overflow-style: none;
}
@media (max-width: 1300px) {
  #worldmapsvg {
    width: auto;
  }
  #map__line,
  .map__banner-line {
    display: none;
  }
  .map__banner {
    right: 0;
    display: none;
  }
  .map__banner.show {
    display: none;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 400px;
    margin: auto;
    padding: 10px 20px;
  }
  .map__banner.mobile {
    display: block;
    bottom: auto;
    right: auto;
    left: auto;
    top: auto;
    position: relative;
    max-width: 400px;
    margin: auto;
    padding: 10px 20px;
  }
  #worldmap {
    .react-multi-carousel-list {
      position: absolute;
      bottom: 0;
    }
    .react-multi-carousel-list {
      width: rem(425px);
      .react-multi-carousel-track > li {
        padding: rem(40px) rem(20px) 0 0;
      }
    }
    .react-multi-carousel-dot-list {
      justify-content: flex-start;
      bottom: auto;
      top: 0;
      display: none;
    }
    .react-multi-carousel-dot {
      button {
        width: rem(52px);
        height: rem(8px);
        border-radius: 0;
        border-width: 0;
        background-color: #fff;
        padding: 0;
        margin-right: rem(15px);
      }
      &--active {
        button {
          background-color: $red;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #worldmap {
    min-height: rem(600px);
  }
  #worldmapsvg path {
    transition: none;
  }
  .section__one .content {
    top: 20%;
    transform: translateY(-20%);
  }
}
