.section {
  position: relative;
}
.container {
  display: block;
  max-width: 1490px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
.nowrap {
  flex-wrap: nowrap !important;
}
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}
.custom-btn {
  display: inline-block;
  border: 1px solid transparent;
  box-shadow: none;
  font-size: rem(14px);
  font-weight: 400;
  min-width: rem(240px);
  border-radius: rem(10px);
  padding: rem(15px) rem(10px);
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  &__red {
    color: $white;
    background-color: $red;
    border-color: $red;
    &:hover {
      background-color: transparent;
      color: $red;
    }
  }
  &__partner {
    display: flex;
    align-items: center;
    color: $black;
    text-decoration: underline;
    background-color: $white;
    border-color: $white;
    padding: 0 rem(10px);
    min-width: 0;
    max-width: rem(145px);
    font-size: rem(12px);
    text-align: left;
    justify-content: center;
    svg {
      display: block;
      margin: 0 rem(8px) 0 0;
      transition: fill 0.3s;
    }
    &:hover {
      color: $green;
      svg {
        fill: $green;
      }
    }
  }
  &__md {
    min-width: rem(160px);
    padding: rem(10px) 0;
  }
}
.input {
  display: block;
  width: 100%;
  border: 1px solid #e1e1e1;
  height: rem(48px);
  font-size: rem(14px);
  max-width: rem(405px);
  margin: 0 0 rem(15px) 0;
  text-indent: rem(20px);
  border-radius: 0;
  &::placeholder {
    color: #e1e1e1;
  }
}
textarea.input {
  resize: none;
  height: auto;
  min-height: rem(67px);
  font-family: $Montserrat;
  padding-top: rem(14px);
  text-indent: rem(17px);
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  z-index: 1000;
  padding: 0 15px;
  &--home {
    background: rgba(0, 0, 0, 0.2);
  }
  &__body {
    position: relative;
    padding: 0;
    max-width: 1460px;
    border-bottom: 1px solid #4c637c;
    & > * {
      width: 100%;
    }
  }
  &__top {
    justify-content: space-between;
    align-items: center;
    padding: rem(13px) 0 rem(14px);
    .select {
      margin-right: rem(25px);
    }
  }
  &__middle {
    justify-content: space-between;
    align-items: center;
  }
  &__bottom {
    position: relative;
  }
  &__mobile {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: rem(27px) 0 0;
    &--button {
      position: absolute;
      z-index: 100;
      right: 0;
      top: 0;
      padding: 0;
    }
    &--body {
      display: none;
      position: absolute;
      background: #28323e;
      flex-direction: column;
      top: 0;
      right: 0;
      padding: rem(30px) 0 rem(30px) rem(40px);
      min-height: 100vh;
      max-width: 80%;
      width: 80%;
      transform: translateX(100%);
      box-shadow: 0 0 rem(15px) rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
      .menu-open & {
        transform: translateX(0);
      }
      .menu {
        flex-direction: column;
        align-items: flex-start;
        & > * {
          margin: 0;
        }
      }
      .header__contact {
        align-items: flex-start;
        margin-bottom: rem(15px);
        a {
          font-size: rem(18px) !important;
          color: $white !important;
        }
      }
      .contact-group {
        padding: rem(30px) 0;
        border-top: 1px solid #4c637c;
        border-bottom: 1px solid #4c637c;
        margin-bottom: rem(30px);
      }
      .header-button-group {
        align-items: center;
      }
      .reg {
        margin: 0 0 0 rem(30px);
      }
    }
    .logo {
      width: rem(165px);
    }
  }
  &.white {
    .header__contact a {
      color: #000;
    }
    .reg {
      &:hover {
        color: #000;
      }
    }
  }
}

.select {
  position: relative;
  color: $white;
  font-size: rem(14px);
  padding: 0 rem(15px) 0 0;
  cursor: pointer;
  font-family: $Muller;
  &::after {
    top: 50%;
    right: 0;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 4px;
    margin-left: -4px;
  }
}
.reg {
  color: $green;
  font-size: rem(12px);
  margin: 0 rem(34px) 0 auto;
  text-decoration: underline;
  transition: color 0.3s;
  &:hover {
    color: $white;
  }
}

.logo-description {
  color: $brownLight;
  font-size: rem(12px);
  line-height: 1.1;
  max-width: rem(175px);
  padding: 0 0 0 rem(28px);
  margin: 0 0 0 rem(25px);
  border-left: 1px solid $brownLight;
}
.search {
  display: block;
  max-width: rem(180px);
  input {
    display: block;
    height: rem(42px);
    outline: none;
    font-size: rem(14px);
    width: 100%;
    padding: 0 rem(23px) 0 0;
    border: none;
    border-bottom: 1px solid $bluelight;
    color: $bluelight;
    background: transparent url(../../public/images/search.png) no-repeat center
      right;
    &::placeholder {
      color: $bluelight;
      opacity: 1;
      transition: opacity 0.3s;
    }
    &:focus::placeholder {
      opacity: 0;
    }
  }
}
.header__contact {
  flex-direction: column;
  align-items: flex-end;
  a {
    color: $white;
    display: inline-block;
    &:nth-child(1) {
      font-size: rem(14px);
      margin-bottom: rem(5px);
    }
    &:nth-child(2) {
      font-size: rem(18px);
      font-weight: 700;
    }
  }
}
.menu {
  align-items: center;
  padding: rem(20px) 0;
  & > * {
    margin: 0 rem(65px) 0 0;
    &:last-child {
      margin: 0;
    }
  }
  a {
    display: inline-block;
    color: $white;
    font-weight: 700;
    padding: rem(16px) 0;
    &:hover {
      color: $red;
    }
  }
  &.white {
    a {
      display: inline-block;
      color: #000;
      &:hover {
        color: $red;
      }
    }
  }
}
.toggle-menu {
  position: relative;
  cursor: pointer;
  display: inline-block;
  transform: translate(rem(-20px), rem(23px));
  transition: all 0.3s;
  span {
    display: block;
    width: 43px;
    height: 5px;
    background: #2d3743;
    margin: 7px 0;
    transform: rotate(0deg);
    transition: 0.5s all ease;
    opacity: 1;
    border-radius: rem(10px);
  }
}
.oval {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: rem(130px);
  height: rem(130px);
  &::before {
    content: '';
    background-color: #fff;
    width: rem(250px);
    height: rem(250px);
    border-radius: 50%;
    display: block;
    left: rem(20px);
    bottom: rem(12px);
    position: absolute;
    box-shadow: 0 0 rem(30px) rgba(0, 0, 0, 0.1);
  }
}
.menu-open {
  .toggle-menu {
    transform: translate(rem(-10px), rem(23px));
    span:nth-child(1) {
      transform: rotate(45deg) translateY(16.5px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translateY(-16.5px);
    }
  }
}

main {
  flex: 1;
  position: relative;
  overflow-x: hidden;
}

.footer {
  padding: rem(64px) 0 rem(50px);
  .container {
    justify-content: space-between;
    & > * {
      max-width: rem(250px);
    }
  }
  &__logo {
    margin-bottom: rem(20px);
    display: inline-block;
  }
  &__links-title {
    font-weight: 700;
    margin-bottom: rem(23px);
    line-height: 1;
  }
  &__link {
    font-size: rem(14px);
    display: block;
    margin-bottom: rem(14px);
  }
  &__subscribe {
    font-size: rem(14px);
    margin-bottom: rem(10px);
  }
  &__contact {
    flex-direction: column;
  }
  &__phone {
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    display: inline-block;
    margin-bottom: rem(5px);
  }
  &__email {
    font-size: rem(14px);
    margin: rem(18px) 0 rem(16px);
  }
  &__callback {
    font-size: rem(14px);
    color: $red;
    text-decoration: underline;
    margin-bottom: rem(27px);
  }
}
.text-brown {
  font-size: rem(12px);
  display: inline-block;
  margin-bottom: rem(6px);
  opacity: 0.6;
}
a.text-brown:hover {
  text-decoration: underline;
}
.social {
  a {
    display: block;
    width: rem(30px);
    height: rem(30px);
    margin-right: rem(15px);
    &:last-child {
      margin: 0;
    }
  }
  .ok {
    background: url(../../public/images/ok.png) no-repeat center;
  }
  .vk {
    background: url(../../public/images/vk.png) no-repeat center;
  }
  .in {
    background: url(../../public/images/in.png) no-repeat center;
  }
}
.text-brown {
  font-size: rem(12px);
  display: inline-block;
  margin-bottom: rem(6px);
  opacity: 0.6;
}
a.text-brown:hover {
  text-decoration: underline;
}
.social {
  a {
    display: block;
    width: rem(30px);
    height: rem(30px);
    margin-right: rem(15px);
    &:last-child {
      margin: 0;
    }
  }
  .ok {
    background: url(../../public/images/ok.png) no-repeat center;
  }
  .vk {
    background: url(../../public/images/vk.png) no-repeat center;
  }
  .in {
    background: url(../../public/images/in.png) no-repeat center;
  }
}

.title {
  &__section {
    text-transform: uppercase;
    font-size: rem(48px);
    font-weight: 900;
    color: $blueDark;
    line-height: 1;
    margin-bottom: rem(27px);
    &--white {
      color: $white;
    }
    &--gray {
      color: $gray;
    }
  }
  &__description {
    font-size: rem(18px);
    font-weight: 400;
    color: $blueDark;
    margin-bottom: rem(40px);
    &--white {
      color: $white;
    }
  }
}

//sections
.section__one {
  min-height: rem(950px);
  .content {
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    z-index: 9;
    max-width: rem(640px);
    left: calc((100% - 1460px) / 2);
  }
  .title {
    &__section {
      line-height: 1.25;
    }
    &__description {
      margin-bottom: rem(52px);
    }
  }
}
.flags {
  position: absolute;
  left: 50%;
  top: 50%;
}
.flag {
  position: absolute;
  width: rem(68px);
  height: rem(68px);
  background: url(../../public/images/map-item.png) no-repeat center;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px dashed #fff;
    transition: all 0.3s;
    transform: scale(0);
    cursor: pointer;
  }
  &:hover::after,
  &.active::after {
    transform: scale(1);
  }
  &.active::before {
    content: '';
    position: absolute;
    left: rem(33px);
    top: rem(33px);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  &__1 {
    transform: translate(rem(-729px), rem(-116px));
    &.active::before {
      width: rem(616px);
      height: rem(300px);
      transform: skew(35deg) translateX(rem(105px));
    }
  }
  &__2 {
    transform: translate(rem(-519px), rem(-64px));
    &.active::before {
      width: rem(407px);
      height: rem(300px);
      transform: skew(35deg) translateX(rem(105px));
    }
  }
  &__3 {
    transform: translate(rem(-408px), rem(242px));
    &.active::before {
      width: rem(470px);
      height: rem(53px);
      transform: skew(-35deg);
      border-bottom: 0;
      border-top: 1px solid #fff;
      top: auto;
      bottom: rem(30px);
      left: rem(50px);
    }
  }
  &__4 {
    transform: translate(rem(-129px), rem(137px));
    &.active::before {
      width: rem(188px);
      height: rem(53px);
      transform: skew(35deg);
      left: rem(53px);
    }
  }
}
.custom-card {
  position: relative;
  z-index: 10;
  background-color: rgba(52, 66, 82, 1);
  border-radius: rem(10px);
  border: 1px solid $white;
  padding: rem(28px) rem(15px) rem(28px) rem(28px);
  max-width: rem(405px);
  width: 100%;
  font-weight: 700;
  color: $white;
  min-height: rem(178px);
  &::after {
    content: '–';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: rem(-12px);
    top: rem(-12px);
    box-shadow: 0 0 rem(20px) rgba(0, 0, 0, 0.2);
    width: rem(30px);
    height: rem(30px);
    border-radius: 50%;
    background-color: #fff;
    font-weight: 700;
    color: $blueDark;
    font-size: rem(30px);
    padding: 0 0 rem(3px) rem(2px);
  }
  &__title {
    margin-bottom: rem(22px);
    span {
      font-weight: normal;
    }
  }
}
.contact-group {
  margin: 0 0 rem(17px);
  &:last-child {
    margin: 0;
  }
  & > * {
    &:nth-child(1) {
      font-weight: 400;
      padding-right: rem(5px);
      font-size: rem(14px);
    }
    &:nth-child(2) {
      a {
        display: block;
        margin: 0 0 rem(5px);
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .mt {
    margin-top: rem(2px);
  }
}
//==========================================================
.section__two {
  .title {
    &__section {
      max-width: rem(950px);
      margin-bottom: rem(40px);
    }
  }
}
.advantages {
  border-radius: rem(10px);
  background-color: #fff;
  box-shadow: 0 0 rem(98px) 0 rgba(0, 0, 0, 0.1);
  margin: rem(-116px) 0 rem(93px);
  & > div {
    flex: 0 0 25%;
    max-width: 25%;
    padding: rem(40px) rem(50px) rem(50px);
    position: relative;
    &::after {
      height: rem(80px);
      width: 1px;
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: rem(-40px);
      background-color: #000;
    }
    &:last-child::after {
      content: none;
    }
  }
}
.advantage {
  &__ico {
    width: rem(48px);
    height: rem(48px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 rem(25px);
    img {
      display: block;
    }
  }
  &__title {
    font-size: rem(18px);
    color: $black;
    font-weight: 700;
    margin-bottom: rem(10px);
    span {
      color: $red;
    }
  }
  &__description {
    font-size: rem(12px);
    color: $black;
    line-height: 1.6;
  }
}
.tabs-presentation {
  .react-tabs {
    &__tab-list {
      border: 0;
    }
    &__tab {
      border: none;
      bottom: 0;
      color: #fff;
      font-weight: 600;
      padding: rem(11px);
      background-color: $blueDark;
      min-width: rem(172px);
      text-align: center;
      &--selected {
        background: $red;
        border-radius: 0;
        text-decoration: underline;
        &::after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: ' ';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(136, 183, 213, 0);
          border-top-color: $red;
          border-width: rem(4px);
          margin-left: rem(-4px);
        }
      }
    }
  }
  .tab {
    &__body {
      padding: rem(42px) 0 0;
    }
    &__description {
      font-size: rem(18px);
      margin-bottom: rem(71px);
    }
    &__list {
      & > * {
        margin: 0 rem(162px) rem(97px) 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__item {
      font-size: rem(14px);
      line-height: 1.3;
      &__index {
        font-size: rem(30px);
        font-weight: 700;
        margin-bottom: rem(27px);
      }
    }
  }
}
//==========================================================
.section__three {
  background: #242e3a url(../../public/images/bg-three-s.jpg) no-repeat center
    top/cover;
  padding: rem(100px) 0 rem(102px);
  .title {
    &__section {
      max-width: rem(800px);
      font-size: rem(60px);
      line-height: 1.2;
      margin-bottom: rem(40px);
    }
    &__subtitle {
      font-size: rem(36px);
      margin-bottom: rem(18px);
    }
    &__description {
      margin-bottom: rem(51px);
    }
  }
}
.about-info-list {
  max-width: rem(405px);
}
.line {
  &__item {
    display: block;
    line-height: 1.9;
    padding: 0 0 0 rem(30px);
    margin-bottom: rem(51px);
    position: relative;
    &::before {
      content: '';
      display: block;
      width: rem(8px);
      height: 75%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &--gray {
      color: $white;
      &::before {
        background-color: $gray;
      }
    }
    &--red::before {
      background-color: $red;
    }
  }
}
.after-work-steps {
  padding: rem(10px) 0 0;
  &__title {
    font-weight: 600;
    font-size: rem(24px);
    color: $gray;
    margin-bottom: rem(26px);
    flex: 0 0 100%;
    max-width: 100%;
  }
  & > *:last-child .step {
    &::before,
    &::after {
      content: none;
    }
  }
}

.step {
  position: relative;
  &__index {
    font-size: rem(14px);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(42px);
    height: rem(42px);
    border-radius: 50%;
    border: 1px dashed $white;
    color: $white;
    margin-bottom: rem(23px);
  }
  &__description {
    width: rem(275px);
    color: $white;
    font-size: rem(14px);
    padding-right: 30%;
  }
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
  }
  &::before {
    top: rem(20px);
    right: rem(12px);
    border-top: 1px dashed $white;
    width: calc(100% - 4rem);
  }
  &::after {
    right: 0;
    top: rem(21px);
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: $white;
    border-width: rem(5px);
    margin-top: rem(-5px);
  }
}

//==========================================================
.section__four {
  padding: rem(94px) 0 0;
  z-index: 1;
  .title__section {
    max-width: rem(640px);
    margin-bottom: rem(42px);
  }
}
.tabs-direction {
  .react-tabs {
    display: flex;
    &__tab-list {
      border: 0;
      display: flex;
      flex-direction: column;
      margin: 0 rem(105px) 0 0;
    }
    &__tab-panel {
      flex: 1 0;
    }
    &__tab {
      border-radius: rem(10px);
      background-color: #fff;
      margin: 0 0 rem(30px);
      font-weight: 600;
      line-height: 1.2;
      display: flex;
      align-items: center;
      height: rem(88px);
      width: rem(328px);
      box-shadow: 0 0 rem(50px) rgba(0, 0, 0, 0.1);
      &--selected {
        border: 0;
        border-radius: rem(10px);
        background-color: $red;
        color: $white;
      }
    }
  }
  .tab {
    &__title {
      font-size: rem(18px);
      margin-bottom: rem(34px);
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  .line__item-list {
    & > * {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: rem(50px);
    }
  }
  .line__item {
    line-height: 1.2;
  }
  p {
    line-height: 1.2;
    min-height: rem(53px);
    margin-bottom: rem(20px);
  }
}
//==========================================================
.section__five {
  background: url(../../public/images/bg-five-s.jpg) no-repeat center top/cover;
  padding: rem(94px) 0 rem(53px);
  .title {
    &__section {
      max-width: rem(700px);
    }
    &__description {
      margin-bottom: rem(37px);
    }
  }
}
.tags {
  margin: 0 rem(-15px);
  padding-bottom: rem(53px);
  & > * {
    padding: 0 rem(15px);
    margin-bottom: rem(30px);
  }
  a {
    width: rem(250px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    border-radius: rem(10px);
    min-height: rem(82px);
    font-weight: 600;
    padding: rem(10px) rem(30px);
    transition: all 0.3s;
    line-height: 1.4;
    &:hover {
      background-color: $white;
      color: $red;
    }
  }
}
.catalog-items {
  margin: 0 rem(-15px);
  & > * {
    padding: 0 rem(15px);
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    min-width: rem(360px);
    border-right: 1px solid #606a77;
    &:first-child .catalog-item {
      margin: 0;
    }
    &:last-child {
      border: 0;
    }
  }
}
.catalog-item {
  color: $white;
  max-width: 365px;
  margin: 0 auto;
  &__logo {
    margin-bottom: rem(27px);
  }
  &__links > * {
    margin-bottom: rem(29px);
  }
  &__see-all {
    display: inline-block;
    color: $red;
    text-decoration: underline;
    padding: rem(10px) 0;
    margin: 0 0 rem(36px);
  }
}
//==========================================================
.section__six {
  padding: rem(94px) 0 0;
  .react-multi-carousel-list {
    padding-bottom: rem(50px);
    margin: 0 rem(-25px) rem(99px);
    position: relative;
    & > span {
      position: absolute;
      z-index: 10;
      left: 50%;
      bottom: 0;
      width: rem(45px) !important;
      height: rem(45px) !important;
      display: flex !important;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid #e1e1e1;
      cursor: pointer;
      transition: all 0.3s;
      svg {
        height: rem(25px);
        fill: $red;
        transition: all 0.3s;
      }
      &:hover {
        border-color: $red;
        background-color: $red;
        svg {
          fill: $white;
        }
      }
      &:nth-child(2) {
        transform: translateX(rem(-40px));
        padding: 0 rem(3px) 0 0;
      }
      &:nth-child(3) {
        transform: translateX(rem(40px));
        padding: 0 0 0 rem(3px);
      }
    }
  }
}
.cer {
  &__title {
    font-size: rem(18px);
    font-weight: 600;
    margin-bottom: rem(17px);
  }
  &__description {
    margin-bottom: rem(55px);
  }
}
.certificate {
  padding: 0 rem(25px);
  &__name {
    text-align: center;
    padding: rem(20px) 0;
    font-style: italic;
  }
  img {
    display: block;
    width: 100%;
    height: rem(363px);
    object-fit: cover;
    box-shadow: 0 0 rem(25px) 0 rgba(0, 0, 0, 0.05);
    //border-bottom: 1px solid $red;
  }
}
//==========================================================
.form {
  position: relative;
  border-radius: rem(10px);
  box-shadow: 0 0 rem(100px) rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .manager {
    font-size: rem(14px);
    color: #c9c9c9;
  }
  .title {
    &__section {
      font-size: rem(30px);
      line-height: 1.2;
      margin-bottom: rem(20px);
    }
    &__description {
      font-size: rem(16px);
      margin-bottom: rem(28px);
    }
  }
}
.form-Consultation {
  background: #fff url(../../public/images/manager.png) no-repeat left
    rem(-77px) bottom rem(-35px) / rem(500px);
  padding: rem(36px) rem(36px) rem(36px) rem(520px);
  width: 70.5%;
  margin: 0 0 0 29.5%;
  transform: translateY(rem(85px));
  .title {
    &__section {
      margin-bottom: rem(25px);
    }
  }
  .manager {
    &__box {
      position: absolute;
      left: rem(287px);
      top: rem(160px);
      line-height: 1.2;
      max-width: rem(175px);
    }
    &__name {
      margin-bottom: rem(12px);
    }
  }
}
.form-CommercialProposal {
  background: #fff url(../../public/images/manager.png) no-repeat left
    rem(-98px) bottom rem(-8px);
  padding: rem(51px) rem(50px) rem(56px) rem(466px);
  margin: 0 0 rem(90px);
  .manager {
    &__name {
      margin-bottom: rem(12px);
    }
    &__post {
      margin-bottom: rem(32px);
    }
  }
  .content {
    & > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

.dot-items {
  padding: rem(21px) 0 0 0;
}
.dot-item {
  position: relative;
  padding-left: rem(30px);
  margin-bottom: rem(27px);
  &:last-child {
    margin: 0;
  }
  &::before {
    content: '';
    display: block;
    width: rem(7px);
    height: rem(7px);
    position: absolute;
    border-radius: 50%;
    background-color: $red;
    left: rem(5px);
    top: rem(6px);
  }
}
//==========================================================
.section__eight {
  padding: 0 0 rem(100px);
}
.shares {
  max-width: 1150px;
}
.share {
  padding: rem(36px) rem(52px);
  border: 1px dashed #bfc2c6;
  border-radius: rem(10px);
  margin: 0 0 rem(30px);
  &__preview {
    width: rem(220px);
    margin: 0 rem(43px) 0 0;
    img {
      display: block;
      width: 100%;
    }
  }
}
.info-group {
  &__body {
    flex: 1 0;
    width: 100%;
  }
  &__title {
    font-size: rem(18px);
    font-weight: 900;
    margin-bottom: rem(11px);
  }
  &__date {
    margin-bottom: rem(20px);
  }
  &__partners,
  &__description {
    line-height: 1.5;
  }
}
//==========================================================
.section__nine {
  background: url(../../public/images/bg-five-s.jpg) no-repeat center top/cover;
  padding: rem(94px) 0 rem(78px);
  .title__section {
    margin-bottom: rem(65px);
  }
}
.news {
  color: $white;
  & > div {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: rem(73px);
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1440px) {
  .section__one {
    .content {
      left: 0;
      margin-left: rem(20px);
    }
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 13px;
  }
  .section__one {
    height: auto;
    .title__section {
      font-size: rem(30px);
    }
    .title__description {
      margin-bottom: rem(20px);
    }
    .react-multi-carousel-dot-list {
      display: flex;
    }
  }
  .custom-card {
    background-color: rgba(52, 66, 82, 0.4);
    &::after {
      content: none;
    }
  }
  .flags {
    display: none;
  }
  .advantages {
    margin: rem(20px) 0 0 0;
    box-shadow: none;
  }
}
@media (max-width: 992px) {
  .logo-description {
    display: none;
  }
  //==========================================================
  .advantages > div {
    padding: rem(40px) rem(25px);
  }
  .tabs-presentation .tab__list > * {
    margin: 0 rem(100px) rem(50px) 0;
  }
  .form-Consultation {
    width: 100%;
    margin: 0 0 rem(40px);
  }
  .form-CommercialProposal {
    background: #fff;
    padding: rem(50px);
    margin: 0 0 rem(50px);
  }
  .dot-items {
    padding: rem(20px) 0 0 rem(20px);
  }
  .share {
    padding: rem(35px);
  }
  .news {
    & > div {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: rem(50px);
    }
  }
  .footer .container > *:nth-child(4) {
    display: none;
  }
}
@media (max-width: 800px) {
  .header__middle {
    .btn__red {
      display: none;
    }
  }
  .menu > * {
    margin: 0 rem(25px) 0 0;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .section__one {
    min-height: 650px;
  }
  .title__section {
    font-size: rem(24px);
    line-height: 1.2;
    margin-bottom: rem(15px);
  }
  .title__description {
    font-size: rem(16px);
    margin-bottom: rem(17px);
  }
  //==========================================================================
  .header {
    &__mobile {
      display: flex;
    }
    &__body {
      display: none;
    }
    &__mobile--body {
      display: flex;
    }
    &__middle {
      & > div:first-child {
        display: none;
      }
      .btn__red {
        display: inline-block;
      }
    }
  }
  .logo-description {
    display: block;
  }
  .menu a {
    color: #fff !important;
  }
  //==========================================================================
  .section__one {
    background: #242e3a;
    .content {
      left: 0;
    }
    .react-multi-carousel-list {
      width: 100%;
    }
  }
  //==========================================================================
  .section__two .title__section {
    margin-bottom: rem(13px);
  }
  .advantages {
    padding: rem(25px) 0 rem(20px);
    & > div {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      margin-bottom: rem(25px);
      &::after {
        content: none;
      }
    }
  }
  .advantage {
    display: flex;
    &__ico {
      margin: 0 rem(20px) 0 0;
    }
    &__description {
      max-width: rem(265px);
    }
  }
  .tabs-presentation {
    .react-tabs__tab-list {
      border: 0;
      margin: 0 -15px;
      overflow: auto;
      overflow-y: hidden;
      display: flex;
      padding: 0 0 rem(10px);
    }
    .react-tabs__tab {
      font-size: rem(14px);
      min-width: rem(135px);
      padding: rem(13px) rem(26px);
    }
    .tab {
      &__body {
        padding: rem(25px) 0 0;
      }
      &__description {
        font-size: rem(16px);
        margin-bottom: rem(20px);
      }
      &__list {
        padding-bottom: rem(15px);
        & > * {
          display: flex;
          margin: 0 0 rem(20px);
        }
      }
      &__item__index {
        margin: 0 rem(15px) 0 0;
        line-height: 1;
        min-width: rem(18px);
        text-align: right;
      }
    }
  }
  //==========================================================================
  .section__three {
    padding: rem(40px) 0 rem(60px);
    background: #242e3a url(../../public/images/bg-three-s.jpg) no-repeat left
      top;
    .title__section {
      font-size: rem(30px);
      margin-bottom: rem(15px);
    }
    .title__subtitle {
      font-size: rem(24px);
      margin-bottom: 1.125rem;
    }
    .title__description {
      margin-bottom: rem(30px);
    }
  }
  .line__item {
    margin-bottom: rem(30px);
    line-height: 1.4;
    font-size: rem(14px);
  }
  .after-work-steps {
    & > div {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
      &:first-child {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    &__title {
      font-size: rem(18px);
    }
  }
  .step {
    &__description {
      width: auto;
    }
  }
  //==========================================================================
  .section__four {
    padding: rem(40px) 0 0;
    z-index: 1;
    .title__section {
      margin-bottom: rem(25px);
    }
  }
  .tabs-direction {
    .react-tabs {
      display: block;
    }
    .react-tabs__tab-list {
      border: 0;
      margin: 0 -15px rem(25px);
      display: flex;
      flex-direction: row;
      box-shadow: 0 0 rem(30px) rgba(0, 0, 0, 0.1);
    }
    .react-tabs__tab {
      font-size: rem(14px);
      min-width: 0;
      line-height: 1.2;
      padding: rem(14px) rem(15px);
      box-shadow: none;
      margin: 0;
      border-radius: 0;
      width: auto;
      height: auto;
      &--selected::after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #d01018;
        border-width: rem(5px);
        margin-left: rem(-5px);
      }
    }
    .tab__title {
      font-size: rem(16px);
      margin-bottom: rem(20px);
    }
    .line__item-list > * {
      flex: 0 0 100%;
      max-width: rem(420px);
    }
    p {
      font-size: rem(14px);
      min-height: 0;
    }
  }
  .form-Consultation {
    background: #fff;
    padding: rem(30px) 15px;
    width: auto;
    margin: 0 -15px;
    transform: translateY(0);
    border-radius: 0;
  }
  .manager__box {
    display: none;
  }
  .form .title__section {
    font-size: rem(24px);
    line-height: 1.4;
    margin-bottom: 1.25rem;
  }
  //==============================================================
  .section__five {
    padding: rem(40px) 0 rem(40px);
    .title__description {
      margin-bottom: rem(25px);
    }
  }
  .tags {
    margin: 0 rem(-15px);
    padding-bottom: rem(30px);
    & > * {
      padding: 0 rem(2px);
      margin-bottom: rem(4px);
    }
    a {
      width: rem(155px);
      min-height: rem(50px);
      padding: rem(10px) rem(17px);
      font-size: rem(10px);
      &:hover {
        background-color: $white;
        color: $red;
      }
    }
  }
  .catalog-items {
    overflow: auto;
  }
  .catalog-item {
    font-size: rem(13px);
    &__logo,
    &__links > *,
    &__see-all {
      margin: 0 0 rem(20px);
    }
  }
  //==============================================================
  .section__six {
    padding: rem(50px) 0 0;
    .react-multi-carousel-list {
      padding-bottom: 0;
      margin: 0 -1.5625rem rem(40px);
      span {
        display: none !important;
      }
    }
  }
  .cer__title {
    font-size: rem(14px);
    line-height: 1.4;
  }
  .cer__description {
    font-size: rem(14px);
    line-height: 1.4;
    margin-bottom: rem(30px);
  }
  .certificate {
    padding: 0 rem(10px);
    &__name {
      padding: rem(15px) 0;
      font-size: rem(12px);
    }
  }
  //========================================================
  .form-CommercialProposal {
    background: #fff;
    width: auto;
    padding: rem(45px) 15px;
    margin: 0 -15px;
    border-radius: 0;
    .title__section {
      font-size: rem(22px);
    }
    .title__description {
      font-size: rem(14px);
      margin-bottom: rem(25px);
    }
    .content > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .dot-items {
      padding: rem(30px) 0 0;
    }
  }
  //========================================================
  .section__eight {
    padding: rem(40px) 0;
    .info-group {
      &__title {
        font-size: rem(14px);
        margin-bottom: rem(10px);
      }
      &__date {
        font-size: rem(14px);
        margin-bottom: rem(10px);
      }
      &__partners,
      &__description {
        font-size: rem(14px);
        line-height: 1.5;
      }
    }
  }
  .share {
    padding: rem(20px) rem(15px);
    &__preview {
      width: rem(120px);
      margin: 0 rem(20px) 0 0;
    }
  }
  .info-group {
    &__title {
      font-size: rem(16px);
    }
    &__partners,
    &__description {
      font-size: rem(14px);
    }
  }
  //=================================================
  .section__nine {
    padding: rem(40px) 0 rem(50px);
    .title__section {
      margin-bottom: rem(40px);
    }
  }
  //=================================================
  .footer {
    padding: rem(40px) 0 rem(20px);
    &__callback {
      margin-bottom: rem(15px);
    }
    .container > * {
      &:nth-child(1) {
        order: -2;
        margin-bottom: rem(25px);
      }
      &:nth-child(5) {
        order: -1;
        margin-bottom: rem(25px);
      }
    }
  }
}
@media (max-width: 379px) {
  html {
    font-size: 14px;
  }
  .share__preview {
    width: 100%;
    margin: 0 0 rem(15px);
  }
}
