.manufacturer {
  border: 1px solid rgb(224, 225, 226);
  border-radius: 10px;
  width: 250px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border 0.25s, transform 0.25s;
  &:hover {
    border: 3px solid rgb(224, 225, 226);
    transform: scale(1.05);
  }
}
