.catalog {
  &-vendors {
    padding-top: rem(220px);
    background: $blueDark
      url('../../public/images/vendors/catalog-vandors-header.jpg') no-repeat
      center top/cover;
  }
  &-solutions {
    padding-top: rem(220px);
    background: $blueDark url('../../public/images/catalog/header-bg.jpg')
      no-repeat center top/cover;
  }
}

.big-dark {
  background: $blueDark;
  padding-top: rem(350px);
  text-align: center;
  .title {
    font-size: rem(48px);
    font-weight: bold;
    span {
      font-size: rem(36px);
    }
  }
  .advantage {
    &-list {
      max-width: rem(800px);
      margin: auto;
      margin-bottom: rem(100px);
    }
    &-item {
      text-align: left;
    }
  }

  &.vacancy {
    background: $blueDark url('../../public/images/vacancies/header-bg.jpg')
      no-repeat center top/cover;
  }

  &.training {
    background: $blueDark url('../../public/images/training/header-bg.jpg')
      no-repeat center top/cover;
    .title {
      max-width: rem(980px);
    }
  }

  @media (max-width: 767px) {
    padding-top: rem(200px);
    &__title {
      text-align: left;
      font-size: rem(24px);
      span {
        font-size: rem(14px);
      }
    }
    .advantage {
      &-item {
        margin-bottom: rem(20px);
        img {
          margin-right: rem(20px);
        }
      }
    }
  }
}
