@import 'style/variables';

.section__service-one {
  padding: rem(277px) 0 rem(50px);
}
//==============================================
.section__service-two{
  padding: rem(40px) 0 rem(50px);
}
.tabs-service {
  padding-top: rem(50px);
  .react-tabs {
    display: flex;
    &__tab-list {
      border: 0;
      display: flex;
      flex-direction: column;
      margin: 0 rem(40px) 0 0;
    }
    &__tab-panel {
      flex: 1 0;
    }
    &__tab {
      border-radius: rem(10px);
      border: 1px solid #e0e1e2;
      margin: 0 0 rem(15px);
      font-weight: 600;
      line-height: 1.2;
      display: flex;
      align-items: center;
      justify-content: center;
      height: rem(56px);
      width: rem(270px);
      background-color: transparent;
      color: #5e5e5e;
      &--selected {
        border-radius: rem(10px);
        border-color: $red;
        color: $red;
      }
    }
  }
}
@media (max-width: 767px) {
  .tabs-service {
    padding-top: rem(50px);
    .react-tabs {
      display: block;
    }
    .react-tabs__tab-list {
      border: 0;
      margin: 0 -15px rem(25px);
      display: flex;
      flex-direction: row;
      box-shadow: 0 0 rem(30px) rgba(0, 0, 0, 0.1);
    }
    .react-tabs__tab {
      font-size: rem(14px);
      min-width: 0;
      line-height: 1.2;
      padding: rem(14px) rem(15px);
      box-shadow: none;
      margin: 0;
      border-radius: 0;
      width: auto;
      height: auto;
      text-align: center;
      &--selected::after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #d01018;
        border-width: rem(5px);
        margin-left: rem(-5px);
      }
    }
  }
}
.service-price-list{
  width: 100%;
  th,td{
    font-size: rem(14px);
    height: rem(46px);
    &:nth-child(1),
    &:nth-child(2){
      border-bottom: 1px solid #e7e7e7;
    }
    &:nth-child(1){
      padding-right: rem(100px);
    }
    &:nth-child(2){
      text-align: right;
    }
  }
  th{
    color: #414141;
    font-weight: 400;
  }
  td{
    color: #000000;
    font-weight: 600;
  }
  button{
    width: rem(135px);
    background-color: transparent;
    color: $red;
    font-weight: 700;
    font-size: rem(14px);
    border: none;
    transition: all .3s;
    &:hover{
      color: $blueDark;
    }
  }
}
//==============================================
.section__service-three{
  padding: rem(100px) 0 rem(50px);
  background: url(../../public/images/bg-five-s.jpg) no-repeat center top/cover;
  .title__section{
    margin-bottom: rem(15px);
  }
}
.remont-certificates-titles{
  flex: 0 0 60%;
  max-width: 60%;
  padding: rem(50px) 0;
  .title__description{
    line-height: 1.8;
    max-width: rem(600px);
    &:nth-child(1){
      margin-bottom: rem(40px);
    }
    &:nth-child(2){
      font-size: rem(24px);
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}
.remont-certificates{
  flex: 0 0 40%;
  max-width: 40%;
  > div{
    padding: 0 rem(20px);
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  img{
    max-width: 100%;
    display: block;
    width: 100%;
    margin-bottom: rem(15px);
  }
}
.enlarge{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: rem(14px);
  cursor: pointer;
  svg{
    margin-left: rem(15px);
    fill: #fff;
  }
}
.service-brand-list {
  margin: 0 rem(-50px);
  > div{
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
    padding: 0 rem(50px);
    margin-bottom: rem(50px);
  }
}
.service-brand-list-title {
  margin-bottom: rem(40px);
  color: #fff;
  font-size: rem(24px);
  font-weight: 600;
  max-width: rem(550px);
}
.service-brand {
  display: flex;
  flex-flow: column wrap;
  &__preview{
    margin-bottom: rem(15px);
    img{
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  a{
    text-align: center;
    color: #fff;
  }
}
//==============================================
.section__service-four{
  padding: rem(100px) 0 rem(50px);
}
.this-gives{
  padding: rem(20px) 0 rem(50px);
  &__advantage{
    align-items: flex-start;
  }
  &__preview{
    margin-right: rem(50px);
    img{
      display: block;
      width: 100%;
    }
  }
  &__list{
    flex: 1 0;
    > div{
      padding: rem(7px) 0;
    }
  }
  &__body{
    flex: 1 0;
    > p, strong{
      margin-bottom: rem(15px);
      font-size: rem(14px);
      max-width: rem(550px);
      line-height: 1.4;
    }
  }
  &__video-preview{
    position: relative;
    margin-bottom: rem(15px);
  }
  &__video{
    width: rem(555px);
    .video{
      display: block;
      width: 100%;
      object-fit: cover;
      background-color: #000;
    }
    &-btn-group{
      align-items: center;
      justify-content: space-between;
      a{
        display: inline-block;
        text-decoration: underline;
        font-size: rem(14px);
        color: #848484;
        padding: rem(5px) 0 rem(5px) rem(40px);
        &:hover{
          color: $red;
        }
      }
    }
    &-btn-download{
      background: transparent url(../../public/images/service/ico-download.png) no-repeat center left;
    }
    &-btn-preview{
      background: transparent url(../../public/images/service/ico-see.png) no-repeat center left;
    }
  }
  .title__this-gives{
    font-size: rem(24px);
    text-transform: none;
    margin-bottom: rem(15px);
  }
}
//==============================================
.section__service-five {
  padding: rem(50px) 0 0;
}
//==============================================
.section__service-six {
  padding: rem(20px) 0 rem(50px);
  .title__section{
    margin-bottom: rem(50px);
  }
}
.tariff{
  position: relative;
  padding: rem(45px);
  background-color: #fff;
  box-shadow: 0 0 rem(50px) 0 rgba(0,0,0, .1);
  border: 2px solid #fff;
  &__title{
    font-weight: 700;
    font-size: rem(24px);
    margin-bottom: rem(20px);
  }
  &__region{
    font-weight: 700;
    margin-bottom: rem(20px);
    span{
      display: inline-block;
      margin-left: rem(10px);
      font-weight: 400;
    }
  }
  &__title-des{
    font-weight: 700;
    margin-bottom: rem(20px);
  }
  &__des{
    margin-bottom: rem(25px);
  }
  &__price{
    color: $red;
    font-size: rem(30px);
    font-weight: 900;
    margin-bottom: rem(5px);
  }
  &__add{
    color: #828282;
    font-size: rem(14px);
    text-decoration: underline;
    cursor: pointer;
    &:hover{
      color: $red;
    }
  }
}
.hit{
  border-color: $red;
  &::before{
    content: attr(data-text);
    background-color: $red;
    padding: rem(10px) 0;
    position: absolute;
    text-align: center;
    width: rem(155px);
    right: rem(-2px);
    font-weight: 700;
    top: rem(-10px);
    color: #fff;
  }
}
//==============================================
.section__service-seven{
  padding: rem(10px) 0 rem(100px);
  .title__description{
    max-width: rem(700px);
    margin-bottom: rem(50px);
  }
}
.form-consultation{
  padding: rem(40px) rem(50px);
  background-color: #fff;
  border-radius: rem(20px);
  box-shadow: 0 0 rem(50px) 0 rgba(0,0,0,.1);
  max-width: rem(495px);
  &__title{
    font-size: rem(14px);
    margin-bottom: rem(20px);
  }
  .input{
    background-color: #fcfcfa;
  }
  .custom-btn{
    width: 100%;
  }
  .ps{
    color: #8c8c8c;
    font-size: rem(12px);
    text-align: center;
    padding: rem(10px) 0 0;
  }
}
.standards-list{
   > div{
    max-width: rem(500px);
    font-size: rem(14px);
    line-height: 1.4;
    padding: rem(7px) 0 rem(7px) rem(75px);
    position: relative;
    margin-bottom: rem(30px);
    img{
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
//==============================================
.section__service-eight{
  background: transparent url(../../public/images/service/hand.jpg) no-repeat center/cover;
  padding: rem(125px) 0 rem(135px);
  .title__section{
    color: #b4b4b4;
    max-width: rem(850px);
    margin-bottom: rem(50px);
  }
}
.box-my-partner{
  background: rgba(0,0,0,.4);
  border-radius: rem(20px) 0 0 rem(20px);
  max-width: rem(935px);
}
.box-my-partner-list{
  padding: 0 rem(65px) 0 rem(50px);
  flex: 1 0;
  > div{
    font-size: rem(14px);
    line-height: 1.4;
    padding: rem(7px) 0 rem(7px) rem(75px);
    position: relative;
    margin-bottom: rem(30px);
    color: #fff;
    &:first-child{
      padding: rem(20px) 0 0 rem(75px);
      margin: 0 0 rem(15px) 0;
      font-weight: 800;
      font-size: rem(18px);
    }
    img{
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
//==============================================
.section__service-ten{
  padding: rem(100px) 0 rem(100px);
  .title__section{
    max-width: rem(960px);
  }
}
.master{
  &__slider,
  &__body{
    flex: 0 0 50%;
    max-width: 50%;
  }
  &__body{
    padding-left: rem(70px);
    padding-top: rem(20px);
  }
  &__preview{
    margin-bottom: rem(20px);
    img{
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
  &__list{
    margin: 0 rem(-10px);
    > div{
      padding: 0 rem(10px);
      flex: 0 0 25%;
      max-width: 25%;
      &.active img {
        border-color: $red;
      }
    }
    img{
      cursor: pointer;
      display: block;
      width: 100%;
      object-fit: cover;
      border: 1px solid #000;
      height: rem(90px);
    }
  }
  &__name{
    font-weight: 700;
    margin-bottom: rem(10px);
  }
  &__post{
    font-size: rem(14px);
    margin-bottom: rem(30px);
  }
  &__info-title{
    font-weight: 700;
    font-size: rem(14px);
    margin-bottom: rem(10px);
  }
  &__info{
    font-weight: 400;
    font-size: rem(14px);
    p{
      margin-bottom: rem(15px);
      max-width: rem(620px);
    }
  }
}
//==============================================
.section__service-eleven{
  background: url(../../public/images/bg-five-s.jpg) no-repeat center top/cover;
  padding: rem(100px) 0 rem(100px);
}
.tabs-contacts {
  padding-top: rem(10px);
  .react-tabs {
    &__tab-list {
      border: 0;
      margin: 0 0 rem(50px);
    }
    &__tab-panel {
      flex: 1 0;
    }
    &__tab {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0;
      font-weight: 900;
      color: #fff;
      &::before{
        content: '/';
        display: inline-block;
        margin: 0 rem(10px);
        color: #fff!important;
      }
      &:first-child::before{
        content: none;
      }
      &--selected {
        text-decoration: underline;
        color: $red;
      }
    }
  }
}
.tab-contact{
  & > {
    div{
      &:first-child{
        flex: 0 0 45%;
        max-width: 45%;
      }
      &:last-child{
        flex: 0 0 55%;
        max-width: 55%;
      }
    }
  }
}
.contact-box{
  margin-bottom: rem(50px);
  &__title{
    margin-bottom: rem(10px);
    font-size: rem(18px);
    font-weight: 700;
    color: #fff;
  }
  &__des{
    font-size: rem(14px);
    margin-bottom: rem(5px);
    color: #fff;
    max-width: rem(470px);
  }
}
.karta{
  width: 100%;
  height: rem(400px);
  background-color: #fff;
  margin-bottom: rem(20px);
}
.karta-btn{
  background-color: #fff;
  text-decoration: underline;
  font-size: rem(14px);
  font-weight: 600;
  border-radius: rem(10px);
  height: rem(65px);
  flex: 1 0;
  align-items: center;
  justify-content: center;
  padding: 0 rem(20px);
  &:first-child{
    margin-right: rem(20px);
  }
  svg{
    margin-right: rem(25px);
    width: rem(40px);
  }
}
@media (max-width: 767px) {
  //==================================
  [class*="section__service-"] {
    .fz-30{
      font-size: rem(20px)!important;
    }
    .fz-36{
      font-size: rem(24px)!important;
    }
  }
  .section__service-one {
    padding: rem(120px) 0 rem(30px);
    .course__preview{
      display: none;
    }
  }
  //====================================
  .section__service-two{
    padding: rem(20px) 0 rem(30px);
  }
  .service-price-list{
    button {
      width: auto;
      font-size: rem(11px);
      padding: rem(5px) 0 rem(5px) rem(15px);
    }
  }
  //====================================
  .section__service-three{
    padding: rem(50px) 0 rem(30px);
  }
  .remont-certificates-titles {
    flex: 0 0 100%;
    max-width: 100%;
    padding: rem(20px) 0 rem(20px);
  }
  .remont-certificates {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: rem(30px);
  }
  .service-brand-list {
    margin: 0 rem(-15px);
  }
  .service-brand-list > div {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 rem(15px);
  }
  //====================================
  .section__service-four{
    padding: rem(50px) 0 rem(30px);
  }
  .this-gives {
    padding: rem(30px) 0 0;
  }
  .this-gives__preview {
    flex: 0 0 rem(140px);
    margin-right: rem(25px);
  }
  .this-gives__list > div {
    font-size: rem(13px);
  }
  .this-gives__video-btn-group a {
    font-size: rem(12px);
    margin-bottom: rem(15px);
  }
  //====================================
  .section__service-seven {
    padding: rem(10px) 0 0;
  }
  .form-consultation {
    max-width: 100vw;
    border-radius: 0;
    margin: 0 -15px;
    order: 1;
  }
  //====================================
  .section__service-eight{
    background: transparent url(../../public/images/service/hand.jpg) no-repeat top right 15%/cover;
    padding: rem(50px) 0 0;
  }
  .box-my-partner-list {
    padding: 0 0 rem(20px);
  }
  .box-my-partner {
    border-radius: 0;
    background-color: transparent;
  }
  .box-my-partner-list > div{
    max-width: rem(300px);
  }
  //====================================
  .section__service-ten {
    padding: rem(30px) 0;
  }
  .master__slider,
  .master__body {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .master__body {
    padding-left: 0;
    padding-top: rem(40px);
  }
  //====================================
  .section__service-eleven {
    padding: rem(40px) 0 rem(25px);
  }
  .tab-contact > div:first-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .tab-contact > div:last-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .karta{
    width: 100vw;
    margin-left: -15px;
  }
  .karta-btn{
    background-color: transparent;
    font-size: rem(12px);
    color: #fff;
    padding: 0;
    &:first-child {
      margin-right: 0;
    }
    svg{
      fill: #fff;
      margin-right: rem(10px);
    }
  }
}
@media (max-width: 379px) {
  .service-brand-list > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .this-gives__preview {
    flex: 0 0 100%;
    margin: 0 0 rem(20px);
  }
  .this-gives__body {
    flex: 0 0 100%;
  }
}