.modal {
  &-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: rem(1094px);
    @media (max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
  }
  &-backdrop {
    &.show {
      opacity: 0.85;
    }
  }
  &-header {
    border: 0;
    padding: 1rem 1rem 0 0;
  }
}

.text-danger {
  color: $red !important;
}
.bg-danger {
  background-color: $red !important;
}
