@import 'style/variables';

.section__training {
  padding: rem(292px) 0 rem(114px);
}
.title__section--training {
  margin-bottom: rem(50px);
}
.certificate-training {
  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.course {
  &__text,
  &__preview {
    flex: 0 0 50%;
    max-width: 50%;
  }
  &__text {
    .title__section {
      max-width: rem(655px);
    }
  }
  &__title {
    font-size: rem(18px);
    font-weight: 700;
    margin-bottom: rem(25px);
  }
  &__cod {
    font-size: rem(14px);
    color: #868787;
    margin-bottom: rem(26px);
  }
  &__info-row {
    margin: 0 0 rem(9px);
    flex-flow: row nowrap;
    &-super-info {
      margin: 0;
      padding: rem(26px) 0;
      font-size: rem(14px);
      & > div {
        margin: 0 rem(58px) rem(20px) 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__info-ico {
    margin-right: rem(20px);
    svg {
      width: rem(45px);
      height: auto;
    }
  }
  &__payment {
    .custom-btn {
      margin-right: rem(33px);
    }
  }
  &__price {
    font-size: rem(30px);
    color: $red;
    font-weight: 700;
    margin-right: rem(27px);
    &-old {
      color: #b9b9b9;
      font-size: rem(17px);
      position: relative;
      white-space: nowrap;
      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 115%;
        background-color: $red;
        height: 1px;
        content: '';
        transform: rotate(-5deg) translateX(rem(-7px));
      }
    }
  }
  &__preview {
    position: relative;
    img {
      left: 0;
      top: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
//============================================
.section__for-from-course {
  background: url(../../public/images/bg-five-s.jpg) no-repeat center top/cover;
  padding: rem(109px) 0 rem(102px);
  .title__section {
    margin-bottom: rem(63px);
  }
}
.for-from-course-list {
  margin-bottom: rem(70px);
  & > div {
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: rem(50px);
  }
}
.for-from-course {
  &__preview {
    width: rem(158px);
    height: rem(132px);
    margin-bottom: rem(23px);
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    color: $white;
    font-size: rem(18px);
    line-height: 1.3;
    max-width: rem(230px);
  }
  &--body {
    .for-from-course {
      &__preview {
        margin: 0 rem(48px) 0 0;
      }
      &__title {
        max-width: 100%;
        margin-bottom: rem(18px);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
//=======================================
.section__training-card {
  padding: rem(97px) 0 rem(50px);
  .title__section {
    margin-bottom: rem(59px);
  }
}
.who-training {
  margin: 0 rem(-20px);

  & > div {
    padding: 0 rem(20px);
    flex: 0 0 50%;
    max-width: rem(675px);
    margin-bottom: rem(40px);
  }
  &__card {
    min-height: rem(272px);
    border-radius: rem(20px);
    position: relative;
    overflow: hidden;
    background-color: #213245;
    padding: rem(53px) rem(73px);
    height: 100%;
    img {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.2;
    }
  }
  &__card-title,
  &__card-description {
    position: relative;
    color: $white;
  }
  &__card-title {
    font-weight: 900;
    font-size: rem(27px);
    margin-bottom: rem(28px);
  }
  &__card-description {
    font-size: rem(20px);
    line-height: 1.3;
  }
}
//=======================================

.section__course-program {
  padding: rem(41px) 0 0;
  .title__section {
    margin-bottom: rem(54px);
  }
}
.course-program-list {
}
.course-program {
  margin-bottom: rem(81px);
  &__preview {
    flex: 0 0 rem(565px);
    max-width: rem(565px);
    margin-right: rem(108px);
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
  &__body {
    flex: 1 0;
  }
  &__title {
    font-size: rem(24px);
    font-weight: 900;
    padding-top: rem(21px);
    margin-bottom: rem(15px);
  }
  &__description {
    font-size: rem(14px);
    line-height: 1.3;
    margin-bottom: rem(18px);
  }
}
//==================================
.section__course-teacher {
  padding: rem(29px) 0 rem(60px);
  .title__section {
    font-weight: 700;
    margin-bottom: rem(36px);
  }
}
.course-teacher-card {
  border-radius: rem(10px);
  background: #fff url(../../public/images/training/teacher.jpg) no-repeat left
    bottom/rem(578px);
  box-shadow: 0 0 rem(50px) 0 rgba(0, 0, 0, 0.1);
  padding: rem(79px) rem(90px) rem(32px) rem(39px);
}
.teacher {
  padding-left: 47%;
  &__title {
    font-size: rem(24px);
    font-weight: 700;
    margin-bottom: rem(16px);
  }
  &__description {
    font-size: rem(14px);
    margin-bottom: rem(46px);
    line-height: 1.3;
  }
}
//==================================
.section__course-small {
  padding: rem(90px) 0;
  &.shadow-inset {
    box-shadow: inset 0 0 rem(50px) 0 rgba(0, 0, 0, 0.1);
  }
}
//==================================
.section__certificate-training {
  padding-bottom: rem(111px);
  .title__section {
    margin-bottom: rem(40px);
  }
  .title__description {
    margin-bottom: rem(20px);
  }
}
.certificate-training {
  & > div {
    flex: 0 0 50%;
    max-width: 50%;
    &:first-child {
      & > * {
        max-width: rem(585px);
      }
    }
  }
}
.certificate-training__preview {
  flex: 0 0 50%;
  max-width: 50%;
  img {
    display: block;
    max-width: 100%;
  }
}
//===========================
.section__review-slider {
  padding: rem(118px) 0 rem(116px);
  background: url(../../public/images/bg-five-s.jpg) no-repeat center top/cover;
  .title__section {
    margin-bottom: rem(48px);
    font-weight: 700;
  }
}
.review-training-card {
  &__preview {
    flex: 0 0 rem(574px);
    max-width: rem(574px);
    margin: 0 rem(100px) 0 0;
    img {
      display: block;
      width: 100%;
    }
  }
  &__body {
    flex: 1 0;
    padding-top: rem(37px);
  }
  &__title-box {
    color: $white;
    padding-bottom: rem(30px);
  }
  &__title {
    font-weight: 700;
    font-size: rem(21px);
    margin-bottom: rem(6px);
    &.fz-24 {
      font-size: rem(24px);
    }
  }
  &__text {
    font-size: rem(14px);
    margin-bottom: rem(15px);
    line-height: 1.4;
    &.fz-18 {
      font-size: rem(18px);
    }
  }
}
@media (max-width: 1199px) {
  .course-program__preview {
    margin-right: rem(50px);
  }
  .course-teacher-card {
    padding-right: rem(30px);
  }
  .teacher {
    padding-left: 53%;
  }
}
@media (max-width: 992px) {
  .course-program {
    &__preview {
      flex: 0 0 30%;
      max-width: 30%;
    }
    &__title {
      padding-top: 0;
    }
  }
  .course__payment {
    .custom-btn {
      margin: rem(20px) 0;
      order: 1;
    }
    .course__price-old {
      margin-right: rem(20px);
    }
  }
  .review-training-card {
    &__preview {
      flex: 0 0 30%;
      max-width: 30%;
      margin: 0 rem(50px) 0 0;
    }
    &__body {
      padding-top: 0;
    }
  }
  .course-teacher-card {
    background: #fff url(../../public/images/training/teacher.jpg) no-repeat
      left top rem(153px) / 48%;
  }
}
@media (max-width: 767px) {
  .section__training {
    padding: rem(140px) 0 rem(50px);
  }
  .course {
    &__text,
    &__preview {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__preview {
      margin-bottom: rem(50px);
      order: -1;
      height: rem(200px);
    }
  }
  //================================
  .section__for-from-course {
    padding: rem(65px) 0 rem(50px);
  }
  .for-from-course-list {
    margin-bottom: rem(50px);
  }
  .for-from-course-list > div {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 3.125rem;
  }
  .for-from-course {
    display: flex;
    align-items: center;
    &__preview {
      width: rem(100px);
      height: rem(100px);
      margin: 0 rem(30px) 0 0;
    }
    &__title,
    &__content {
      flex: 1 0;
    }
  }
  //======================================
  .who-training__card {
    padding: rem(25px) rem(30px);
  }
  //=======================================
  .section__training-card {
    padding: rem(60px) 0 0;
  }
  .who-training > div {
    flex: 0 0 100%;
    max-width: 42.1875rem;
  }
  //==========================================
  .course-program {
    margin-bottom: rem(50px);
  }
  .course-program__preview {
    flex: 0 0 100%;
    max-width: 100%;
    img {
      max-height: rem(280px);
    }
  }
  .course-program__body {
    padding-top: rem(30px);
    flex: 0 0 100%;
  }
  //=========================================
  .section__course-teacher {
    padding-bottom: rem(30px);
    .title__section {
      margin-bottom: rem(300px);
      font-size: rem(24px) !important;
    }
  }
  .course-teacher-card {
    background: #fff url(../../public/images/training/teacher.jpg) no-repeat
      left rem(25px) top rem(80px) / rem(390px);
    padding: rem(30px) rem(15px) rem(30px) rem(20px);
  }
  .teacher {
    padding-left: 0;
  }
  //============================================
  .section__course-small {
    padding: rem(50px) 0;
  }
  .section__course-small .title__section--training {
    margin-bottom: 0;
  }
  //=============================================
  .section__certificate-training {
    padding-bottom: rem(50px);
  }
  .certificate-training > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  //================================================
  .section__review-training {
    padding: rem(50px) 0;
  }
  .review-training-card {
    &__preview {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 rem(30px);
    }
  }
}
@media (max-width: 479px) {
  .course-program__preview {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }
}

// ========================

.brand {
  &-item {
    height: rem(110px);
    margin: rem(10px) rem(20px);
  }

  &-card {
    max-width: rem(220px);
    max-height: rem(110px);
    overflow: hidden;
    img {
      max-height: 100%;
    }
  }
}

.calendar-wrapper {
  background: #868787 url('../../public/images/training/business-people-bg.jpg')
    no-repeat center top/cover;

  @media (max-width: 768px) {
    .rc-calendar {
      flex-wrap: wrap;
      .react-calendar {
        max-width: none;
        margin: auto;
      }
      .courses {
        padding: 0 20px;
      }
    }
  }
  @media (max-width: 480px) {
    .rc-calendar {
      .courses {
        padding: 0 5px;
      }
    }
    .card .price .actual {
      font-size: rem(24px);
    }
    .card .price .old {
      font-size: rem(13px);
    }
    .buttons {
      .card .custom-btn {
        min-width: rem(160px);
      }
    }
  }
}

.card-course {
  max-width: rem(660px);
}
